<!-- Displaying Posts -->
{% macro displayPost(posts) %}
{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="post-title"><a href="{{url_for('main.post', id=post.id)}}">{{post.title}}</a></h2>
      <p>{{post.post}}</p>
      <h4><a href="{{url_for('main.deletepost', id=post.id)}}">Delete Post</a></h4>
      <br>
      <hr><br>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}

<!-- Displaying Comments -->
{% macro displayComment(comments) %}
{% for comment in comments %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>{{comment.username}}</h4>
      <p>{{comment.comment}}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}

<!-- Dislay Quotes -->
{% macro displayQuotes(quotes_list) %}
{% for quote in quotes_list %}
<h3>{{quote.quote}}</h3>
<h5>{{quote.author}}</h5>
{% endfor %}
{% endmacro %}