{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Content Block -->
{% block content %}
<div class="container">
  <!-- Display Post -->
  <div class="row">
    {% if post %}
    {{macro.displayPost(post)}}
    {% endif %}
  </div>

  <!-- Display Comment -->
  <div class="">
    <!-- <h3>Leave a Comment</h3> -->
    <br>
    {% if comments %}
    <h5>This post has {{comments | count}} Comments</h5>
    {% for comment in comments %}
    <strong>
      <h5>{{comment.username}}</h5>
    </strong>
    <p>{{comment.comment}}</p>
    <hr>
    {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}